<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="POSIntegrator.Properties.Settings.pos13ConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=pos13;Persist Security Info=True;User ID=sa;Password=innosoft"
            providerName="System.Data.SqlClient" />
        <add name="POSIntegrator.Properties.Settings.pos13_S1ConnectionString"
            connectionString="Data Source=DESKTOP-4RBPSD7;Initial Catalog=pos13_S1;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="POSIntegrator.Properties.Settings.pos13_S2ConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=pos13_S2;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="POSIntegrator.Properties.Settings.pos13_S3ConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=pos13_S3;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="POSIntegrator.Properties.Settings.pos13_S1ConnectionString1"
            connectionString="Data Source=localhost;Initial Catalog=pos13_S1;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>